@charset "ISO-8859-1";


table{
	border: 2px solid #1C8CE3;
	border-spacing: 0;
	width: 800px;
}

th{
	background-color:#1C8CE3;
	color:white;
	text-align:center;
	
}

td{
	border:1px solid #1C8CE3;
	text-align:center;
}